MONGO_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/chic-style-hub?retryWrites=true&w=majority
JWT_SECRET=your-jwt-secret
ADMIN_EMAIL=admin@store.com
ADMIN_PASSWORD=admin123
PORT=5000
